<p class="salutation">Dear Dealer,</p>
<p>This is where you can polish your roulette payout calculating skills!</p>
<p>If you somehow got here, you should be familiar with the way it works. In any other case, there's a short cheatsheet:</p>
{% include roulette/diagram.html %}
<p>
    Multiply generated bets according to these rules, sum it up, and type your result! Click "Submit" button or hit Enter.
    Correct answer proceeds to the next puzzle.
</p>
<p>
    If there's no count on a chip, it is to be assumed "one".
    The chips are shown either around zero or five as the winning numbers.
    It should be pretty obvious to distinguish, but there's also that small highlight added in case anyone had doubts.
</p>
<p>If you're stuck, you can either skip the puzzle (&#xbb; button) or show the correct answer (the question mark button).</p>
<p class="goodluck">Good luck with your training! &#x1F60E;</p>
