<label for="settings-{{ include.game }}-{{ include.setting }}">{{ include.label }}:</label>
{% if include.preview  %}
    <span id="preview-{{ include.game }}-{{ include.setting }}" class="preview">{{ include.preview }}</span>
{% endif %}

<div class="labeled-slider">
    {% assign right = include.right %}

    {% if include.left %}
        {% assign left = include.left %}
    {% else %}
        {% assign left = include.min %}
    {% endif %}

    {% if include.right %}
        {% assign right = include.right %}
    {% else %}
        {% assign right = include.max %}
    {% endif %}

    <span class="left">{{ left }}</span>
    <input type="range"
        min="{{ include.min }}" max="{{ include.max }}" step="{{ include.step }}"
        value="{{ include.value }}"
        id="settings-{{ include.game }}-{{ include.setting }}"
        name="settings-{{ include.game }}"
    />
    <span class="right">{{ right }}</span>
</div>
